*{
	margin: 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

div {
	vertical-align: middle;
}

body {
/*	overflow: hidden;*/
	background: silver;
}

.areaSearch {
	height: 100%;
	background: silver;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

#user_part {
	width: 300px;
	height: 100px;
	background: forestgreen;
	position: absolute;
	z-index: 3;
}

.user_do_login {
	height: 100px;
	text-align:center;
}

.user_login_btn {
	width: 230px;
	height: 50px;
	margin: 10px auto;
	font-size: 16pt;
	background: pink;
}

.user_sign_up {
	height: 30px;
	font-size:12pt;
	margin-right: 10px;
	text-align: right;
	background: salmon;
}

.user_do_logout {
	display: inline-block;
}

.user_image {
	display: inline-block;
}

.user_image > img {
	width: 100px;
	height: 100px;
}

.user_info {
	display: inline-block;
}

.user_info_nick {
	width: 185px;
	height: 35px;
}

.user_info_id {
	width: 185px;
	height: 30px;
}

.user_info_button {
	text-align:center;
	display: flex;
	justify-content: space-between;
	width: 185px;
}

.user_info_button > input {
	width: 80;
	height: 25;
	margin-left: 5;
	margin-right: 5;
}

#search{
	background: turquoise;
	position: absolute;
	width: 300;
	top: 100;
	left: 0;
	padding-top: 10;
	z-index: 3;
	display: flex;
	justify-content: space-between;
}

.search_class {
	background: khaki;
	height: 30;
	z-index: 3;
	margin-left: 5;
	align-self: center;
}

.search_word {
	background: orange;
	height: 30;
	z-index: 3;
}

.search_image {
	width: 30;
	height: 30;
	background: lightgreen;
	z-index: 3;
	margin-right: 5;
}

#searchResult {
	background: palegreen;
	position: absolute;
	width: 300;
	top: 140;
	padding-top: 10;
	left: 0;
	z-index: 3;
}

#searchDetail {
	background: powderblue;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.areaMap {
	float: right;
}

/* 애니메이션 대상 */
#searchDetail {
	/*overflow: hidden;*/
	z-index:2;
	position: absolute;
	width:370px;
	left:-370;
	/* 좌측에 위치 시키기 위해 현 가로폭의 -100%만큼 왼쪽으로 이동 */
	top:0;    /* 슬라이드 메뉴의 경우 화면에 꽉차게 해야 하는데 */
	right:0;  /* 모바일 웹은 화면의 높이가 일정하지 않을 일이 많아 */
	bottom:0; /* 전,후,좌,우 전체 0을 주면 화면에 가득 차게 됩니다. */
	-webkit-transition: left .3s;	/* 애니메이션 css 브라우저별로 작동시키기 위해 다 적어주는게 좋다 */
	-moz-transition: left .3s;		/* left 속성에 대해 0.3초 동안 애니메이션 실행 */
	-ms-transition: left .3s;
	-o-transition: left .3s;
	transition: left .3s;
	background-color:#cccccc;
}

#searchDetail.on {
	left:300;
}

.office_detail {
	background: gray;
	display: flex;
	width: 370px;
	height: 100%;
}

.office_detail_info_box {
	background: gray;
}

.office_detail_close_box {
	display: flex;
	align-items: center;
	background: gray;
}

.office_detail_close_image {
	width: 20px;
	height: 40px;
	background: white;
}

.office_detail_image {
	background: gray;
	display: flex;
	justify-content: space-between;
}

.office_detail_image * {
	background: salmon;
	width: 100px;
	height: 100px;
	margin: 5 auto;
	display: inline-block;
}

.office_detail_name {
	background: gold;
	width: 350px;
	text-align: center;
}

.office_detail_keyword {
	display: inline-block;
	width: 350px;
	margin-top: 5px;
}

.office_detail_keyword * {
	background: tomato;
	text-align: center;
	display: inline-block;
}

.office_detail_tel {
	background: olive;
	width: 350px;
	text-align: center;
	margin-top: 5px;
}

.office_detail_address {
	background: DeepSkyBlue;
	width: 350px;
	margin-top: 5px;
}

.office_detail_comm {
	background: YellowGreen;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.office_detail_comm * {
	display: inline-block;
}

.office_detail_favorite {
	background: lime;
}

.office_detail_fav_image {
	width: 25px;
	height: 25px;
}

.office_detail_star {
	background: LightPink;
}

.office_detail_image_star {
	width: 25px;
	height: 25px;
	background: seagreen;
}

.office_detail_review_num {
	background: green;
}

.office_detail_reg {
	background: pink;
	color: blue;
	width: 350px;
	font-size: 9pt;
	margin-top: 10px;
}

.office_detail_business_hours {
	background: gray;
	margin-top: 10px;
	width: 350px;
}

.office_detail_business_hours_title {
	background: silver;
}

.office_detail_service {
	background: gray;
	margin-top: 10px;
	width: 350px;
}

.office_detail_service_title {
	background: silver;
}

.office_detail_review_list {
	background: silver;
}

.office_detail_review_list_title {
	background: silver;
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-top: 10px;
	width: 340px;
}

.office_detail_review_list_title * {
	display: inline-block;
}

.office_detail_review_image {
	background: orange;
	width: 25px;
	height: 25px;
	align-self: center;
}

.office_detail_review_item {
	background: gray;
}

.office_detail_review_item * {
	font-size:13px
}

.office_detail_review_content {
	background: SlateGray;
	margin-top: 5px;
	width: 350px;
}

.office_detail_review_comm {
	background: gray;
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	width: 350px;
}

.office_detail_review_comm * {
	display: inline-block;
}

.office_detail_user_nick {
	margin-left: 10px;
	background: MediumSlateBlue;
}

.office_detail_user_star {
	background: RoyalBlue;
}

.office_detail_review_date {
	margin-right: 10px;
	background: plum;
}

.office_search_result_box {
	background: khaki;
}

.office_search_result_box * {
	pointer-events: none;
}

.image_ad {
	width: 24px;
	height: 24px;
	display: inline-block;
}
.office_name {
	background: yellow;
	width: 250px;
	display: inline-block;
}
.image_office {
	width: 60px;
	height: 60px;
	display: inline-block;
}
.office_info_box{
	display: inline-block;
	vertical-align: top;
	width: 220px;
}
.office_keyword {
	background: green;
	display: inline-block;
}
.office_business_hours {
	display: inline-block;
	width: 200px;
	margin: 0;
}
.office_review_box {
	display: inline-block;
}
.office_star_box {
	float: right;
	vertical-align: top;
}
.office_review {
	background: cyan;
	display: inline-block;
}
.office_star {
	background: cyan;
	display: inline-block;
}
